<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-5">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.sub_title }}</p>
  </div>
  <div class="my-4">
    <a href="{{ section.settings.shop_url }}">{{ section.settings.button_label }}</a>
  </div>
</div>


{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 heading title"
      }, {
        "type": "text",
        "id": "sub_title",
        "default": "The page you are looking is not found",
        "label": "404 Sub heading title"
      }, {
        "type": "url",
        "id": "shop_url",
        "default": "#",
        "label": "URL"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Go to Homepage",
        "label": "Back to Home"
      }
    ]
  }
{% endschema %}
